#imagenPrincipal {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    margin-top: -5px;
    border: rgb(0, 0, 0) solid 1px;
}



#programadores {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }

#contenedor{
    position: absolute;
    top: 0; 
    left:  15%;
    width: 550px;
    height: 50vh;
    background-color: rgba(13, 13, 13, 0.96);
    opacity: 0.5;
    z-index: 1;
}

#textoCabezera{
    position: absolute;
    left: 17%;
    top: 50px;
    color: white;
    width: 450px;
    font-size: 30px;
    z-index: 2;
}



#cuadroInformacion{    
  width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  
  place-items: center;
    margin-top: 20px;

    
    
    
    
}

#InformacionTexto{
    width: 550px;
    padding-top: 35px;
    

}

#contenedorBanner{
    
    width: 500px;
}

#textoInformacion{
    padding-top: 20px;
}



#InformacionImagen{
    position: relative;
    width: 550px;
    height: auto;
  
}

#textoImagen{
  
    position: absolute;
    top: 0;
    left: 0; 
    padding-left: 50px;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#cursos{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;  
    margin-top: 20px;

  
}

.contenedorCursos{
    
    border: 1px solid black;
    width: 550px;
    height: 500px;
 
}

