#navSecundario{
    height: 7vh;
    width: auto;
    display: flex;
    align-items:end;
    justify-content: right;
    margin-right: 22%;
    padding-top: 20px;
}

#secundario{
margin-right: 20px;
}

#navPrimario{
    background-color: rgb(38, 37, 37);
      height: 12vh;
      display:flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: white;
    }

    #ulPrimario{
        font-size: 20px;
        padding-right: 70px;
    }

    #ulPrimario2{
        font-size: 20px;
        padding-left: 70px;
    }

header ul{
    display:flex;  
    flex-wrap: wrap;  
    gap: 20px;
  }

#logotipo{
    height: 50px;
    width: auto;
    padding-right: 20px;
}

#logo{
    height: 70px;
    width: auto;
    padding-left: 20px;
}

#ulSecundario li img{
    height: 15px;
}

#ulSecundario li{
padding-right: 1px;
padding-bottom: 8px;
}